.container {
  background: #f0e3b0;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.png");
  background-repeat: space;
}
.container .main {
  /* background: #acccc4; */
  background: #f0e3b0;
  /* position: relative; */
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  transform-style: preserve-3d;
  /* background-image: url("../images/main-back.png");
  background-size: contain; */
}
